.custom-navbar {
  background-color: white;
  /* navbar background */
}

.custom-navbar .nav-link {
  color: #000;
  /* nav items text-color*/
}

/* Style for the custom button */
.custom-start-project-btn {
  color: #452c63;
  border: 2px solid #452c63;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition */

  /* Ensure the button aligns with other items */
  padding: 8px 16px;
  height: 100%;
  /* Makes the button fill the height of the list item */
  display: flex;
  /* Use flexbox for centering */
  align-items: center;
  /* Center the content vertically */
}

/* Hover effect */
.custom-start-project-btn:hover {
  background-color: #452c63;
  color: white;
  /* Color text on hover */
}

.nav-item {
  display: flex;
  /* Ensures all items inside have aligned heights */
  align-items: center;
  /* Center contents vertically */
}